body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#858fbd 10%, #00d4ff 90%);
}

.main {
  text-align: center;
}

.main h1 {
  margin-top: 50px;
  font-size: 2rem;
  color: white;
}

.main input {
  width: 300px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  font-size: 1rem;
}

.button {
  margin-top: 30px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #0075ff;
  border-color: #0075ff;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.currentWeather {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border: 1px solid #8ecae6;
  border-radius: 10px;
  padding: 20px;
  background-color: #8ecae6;
  color: white;
  box-shadow: 5px 5px 5px #343a40;
  font-size: 1.2rem;
}

.hourlyWeatherContainer {
  padding-bottom: 30px;
}

.hourlyWeather {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border: 1px solid #8ecae6;
  border-radius: 10px;
  padding: 20px;
  background-color: #8ecae6;
  color: white;
  box-shadow: 5px 5px 5px #343a40;
  font-size: 1.2rem;
}

footer {
  padding-bottom: 20px;
}
footer p {
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

/* min-width > 600px */
@media screen and (min-width: 600px) {
  .currentWeather {
    font-size: 1.5rem;
  }

  .currentWeather img {
    width: 30%;
    height: 30%;
  }

  .hourlyWeather {
    font-size: 1.5rem;
  }
  .hourlyWeather img {
    width: 30%;
    height: 30%;
  }
}

/* min-width > 1200px */
@media screen and (min-width: 1200px) {
  .main h1 {
    font-size: 3rem;
  }

  .main input {
    font-size: 1.5rem;
  }

  .button {
    width: 300px;
    height: 50px;
    font-size: 1.5rem;
  }

  .currentWeather {
    width: 70%;
    max-width: 1000px;
  }

  .hourlyWeatherContainer {
    display: flex;
    padding: 30px 10px;
  }

  .hourlyWeather {
    width: 20%;
    font-size: 1.2rem;
  }
}
